.prose {
  text-box: cap alphabetic;
  text-wrap: pretty;
  --prose-flow: --spacing(4.5);

  & > *:where(:not(.not-prose, .not-prose *)) {
    margin-block: var(--prose-flow) 0;
  }

  ul:where(:not(.not-prose, .not-prose *)) {
    padding-inline-start: --spacing(6);
    list-style-type: disc;
  }

  ol:where(:not(.not-prose, .not-prose *)) {
    padding-inline-start: --spacing(6);
    list-style-type: decimal;
  }

  a:not(:where(:is(h2, h3, h4) *)):where(:not(.not-prose, .not-prose *)) {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: currentColor;
    text-decoration-thickness: 1px;
  }
}
