:root {
  --text-box-cap-alphabetic: cap alphabetic;
  --outline-default: -webkit-focus-ring-color auto 1px;
  --radius-full: calc(infinity * 1px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}
