{# -- Base blocks layout template that all HTML requests inherit from -- #}
{#
┌─────────────────────────────────────────────────────────────────────────────┐
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                                headMeta                                 │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                                headLinks                                │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                                 headJs                                  │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                                 headCss                                 │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│                                                                             │
│                                 headContent                                 │
└─────────────────────────────────────────────────────────────────────────────┘
┌─────────────────────────────────────────────────────────────────────────────┐
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                                bodyHtml                                 │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                                 bodyJs                                  │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│                                                                             │
│                                 bodyContent                                 │
└─────────────────────────────────────────────────────────────────────────────┘
#}

{% extends "_base/web" %}

{% block headContent %}
    {# -- Any <meta> tags that should be included in the <head> #}
    {% block headMeta %}

    {% endblock %}

    {# -- Any <link> tags that should be included in the <head> #}
    {% block headLinks %}

    {% endblock %}

    {# -- Any JavaScript that should be included before </head> -- #}
    {% block headJs %}

    {% endblock %}
{% endblock %}

{% block bodyContent %}
    {% block bodyHtml %}
        {% block header %}

        {% endblock %}
        {% block main %}

        {% endblock %}
        {% block footer %}

        {% endblock %}
    {% endblock %}
{% endblock %}

{% block endBody %}
    {# -- Any JavaScript that should be included before </body> -- #}
    {% block endBodyJs %}

    {% endblock %}
{% endblock %}
