{# -- Base web layout template that all web requests inherit from -- #}
{#
 ┌─────────────────────────────────────────────────────────────────────────────┐
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                 htmlTag                                 │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                 headTag                                 │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                               headContent                               │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                 bodyTag                                 │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                               bodyContent                               │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │                                                                             │
 │                                  htmlPage                                   │
 └─────────────────────────────────────────────────────────────────────────────┘
#}

{% extends "_base/global" %}

{% block rootHtml %}
    <!DOCTYPE html>
    <html lang="{{ craft.app.language|slice(0, 2) }}" class="no-js h-full antialiased">
        <head>
            {{ include("_meta/head") }}
            {% block headContent %}

            {% endblock %}
        </head>
        <body
            id="template-{{ templateSlug }}"
            class="has-debug-toolbar:grid-rows-[1fr_53px] grid min-h-full grid-cols-[100%]">
            <div id="body-wrapper" class="flex flex-col">
                {% block bodyContent %}

                {% endblock %}
            </div>
            {% block endBody %}

            {% endblock %}
        </body>
    </html>
{% endblock %}
